.A{
    border: 1px solid rgb(0, 0, 0);
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    width: 650px;
    height: 650px;
}
.Z{
    position: absolute;
    right: 800px;
    height: 400px;
    width: 400px;
    border: 1px solid ;
    border-radius: 20px;
    top: 120px;
}
.B{
    border: 1px solid rgb(13, 12, 12);
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    width: 655px;
    height: 650px;
}
.C{
    color: rgb(44, 22, 248);
    font-size: 400%;
    position: absolute;
    bottom: 517px;
    left: 680px;
}
.D{
    font-size: 300%;
    position:absolute;
    bottom: 470px;
    left: 800px;
}
.E{
    color: rgb(255, 11, 11);
    font-size: 600%;
    position: absolute;
    bottom: 350px;
    left: 700px;
}
a{
    color: rgb(6, 5, 5);
    font-size: 150%;
    position: absolute;
    bottom: 93%;
    right: 4%;
    border: 2px solid red;
    border-radius: 10px;
}